---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #e8e8e8;
}

#header {
  height: 60px;

  nav {
    max-width: 100%;
  }

  #site {
    border: none;
    background: none;
    box-shadow: none;
    font-weight: bold;
    font-size: 24px;
    text-transform: lowercase;
  }

  a.area {
    background: none;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.wrapper {
  max-width: 960px;
}

section {
  max-width: 960px;
  margin-top: 70px;
}

.content-header {
  margin-bottom: 30px;
}

.content-title {
  font-size: 24px;
}

.content-subtitle {
  font-size: 18px;
}
.content-meta {
  font-size: 12px;
  color: #ffcc00
}

table {
    width: auto;
    th, td {
      border: 1px solid;
    }
}